*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,
#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.notes{
  display: flex;
  gap:1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: #494949;
  border-radius: 0.7rem;
  max-width: 20rem;
  padding: 1.5rem;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.button{
  padding: 0.5rem;
  width: 4rem;
  cursor: pointer;
}